﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<header id="navigation">
    <div class="navbar navbar-expand-lg sticky-nav" role="banner">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fa fa-align-justify"></i></span>
            </button>
            <a class="navbar-brand" href="https://newsfeed1.azurewebsites.net/">
                <img class="main-logo img-fluid" src="~/images/presets/preset1/logo-news.png" alt="logo">
                <a href="https://theguardian.com"><img class="main-logo img-fluid-detail" src="https://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2010/03/01/poweredbyguardianBLACK.png" alt="logo"></a>
            </a>
            <nav id="mainmenu" class="navbar-left collapse navbar-collapse justify-content-end">
                <ul class="nav navbar-nav">
                    <li class="home dropdown">
                        <a asp-controller="Home"
                           asp-action="Index">Home</a>
                    </li>
                    <li class="business dropdown">
                        <a asp-controller="News"
                           asp-action="List"
                           asp-route-category="business"
                           asp-route-page="1">Business</a>
                    </li>
                    <li class="politics dropdown">
                        <a asp-controller="News"
                           asp-action="List"
                           asp-route-category="politics"
                           asp-route-page="1">Politics</a>
                    </li>

                    <li class="world dropdown mega-cat-dropdown">
                        <a asp-controller="News"
                           asp-action="List"
                           asp-route-category="world"
                           asp-route-page="1">World</a>
                    </li>

                    <li class="sports">
                        <a asp-controller="News"
                           asp-action="List"
                           asp-route-category="sport"
                           asp-route-page="1">Sports</a>
                    </li>
                    <li class="health">
                        <a asp-controller="News"
                           asp-action="List"
                           asp-route-category="lifeandstyle_health-and-wellbeing"
                           asp-route-page="1">Health</a>
                    </li>
                    <li class="entertainment">
                        <a asp-controller="News"
                           asp-action="List"
                           asp-route-category="culture"
                           asp-route-page="1">Entertainment</a>
                    </li>
                    <li class="lifestyle">
                        <a asp-controller="News"
                           asp-action="List"
                           asp-route-category="lifeandstyle"
                           asp-route-page="1">Lifestyle</a>
                    </li>
                </ul>
            </nav>
            <!-- searchNlogin -->
        </div>
    </div>
</header>