﻿@model NewsFeed.Models.NewsResult

@using X.PagedList.Mvc.Core; @*import this so we get our HTML Helper*@
@using X.PagedList; @*import this so we can cast our list to IPagedList (only necessary because ViewBag is dynamic)*@
@using NewsFeed.Models;
@using X.PagedList.Mvc.Core.Fluent;

<link href="/css/PagedList.css" rel="stylesheet" type="text/css" />

<form asp-action="View"
      asp-controller="Home" method="get">
    <label for="firstName">Search</label>
    <input type="text" name="q" />
    <input type="submit" value="Submit" />
</form>

@foreach (var item in Model.news)

{
    <div class="container">
        <div>

            @if (item.fields != null)
            {
                <img src="@Url.Content(item.fields.thumbnail)" alt="" />
            }
            else
            {
                <img src="" alt="" />
            }
        </div>
        <div>
            <h4 class="card-title">@item.sectionName</h4>
            <a href="@item.webUrl">@item.webTitle</a>
        </div>
        <div class="w-100"></div>
        <br />
    </div>
    <br />
}

@if (Model.Pager.Pages.Any())
{
    <nav class="table-responsive">
        <ul class="pagination justify-content-center d-flex flex-wrap">
            @if (Model.Pager.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="/">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="/?page=@(Model.Pager.CurrentPage - 1)">Previous</a>
                </li>
            }

            @foreach (var p in Model.Pager.Pages)
            {
                <li class="page-item @(p == Model.Pager.CurrentPage ? "active" : "")">
                    <a class="page-link" href="/?page=@p">@p</a>
                </li>
            }

            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="/?page=@(Model.Pager.CurrentPage + 1)">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="/?page=@(Model.Pager.TotalPages)">Last</a>
                </li>
            }
        </ul>
    </nav>
}