﻿@model NewsFeed.Models.NewsResult

@using X.PagedList.Mvc.Core; @*import this so we get our HTML Helper*@
@using X.PagedList; @*import this so we can cast our list to IPagedList (only necessary because ViewBag is dynamic)*@
@using NewsFeed.Models;
@using X.PagedList.Mvc.Core.Fluent;
@using NewsFeed.UrlHelpers;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Boxed.AspNetCore;

<div id="main-wrapper" class="homepage">
    <header id="navigation">
        <div class="navbar navbar-expand-lg" role="banner">
            <div class="container">
                <a class="secondary-logo" href="https://newsfeed1.azurewebsites.net/">
                    <img class="img-fluid" src="~/images/presets/preset1/logo-news.png" alt="logo1">
                </a>
            </div>
            <div class="container">
                <a class"navbar-header" href="https://theguardian.com"><img class="main-logo img-fluid" src="https://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2010/03/01/poweredbyguardianBLACK.png" alt="logo"></a>
            </div>

            <div class="topbar">
                <div class="container">
                    <div id="topbar" class="navbar-header">
                        <a class="navbar-brand" href="https://newsfeed1.azurewebsites.net/">
                            <img class="main-logo img-fluid" src="~/images/presets/preset1/logo-news.png" alt="logo">
                        </a>

                        <div id="topbar-right">

                            <div id="date-time"></div>
                            <div id="weather">
                                <span class="weather-icon">
                                    <img src="~/images/others/weather.png" alt="Icon" class="img-fluid">
                                </span>
                                <span class="temp"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="menubar" class="container">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fa fa-align-justify"></i></span>
                </button>
                <a class="navbar-brand d-lg-none" href="https://newsfeed1.azurewebsites.net/">
                    <img class="main-logo img-fluid" src="~/images/presets/preset1/logo-news.png" alt="logo">
                </a>
                <nav id="mainmenu" class="navbar-left collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="home dropdown">
                            <a asp-controller="Home"
                               asp-action="Index"
                               data-toggle="dropdown">Home</a>
                        </li>
                        <li class="business dropdown">
                            <a asp-controller="News"
                               asp-action="List"
                               asp-route-category="business"
                               asp-route-page="1">Business</a>
                        </li>
                        <li class="politics dropdown">
                            <a asp-controller="News"
                               asp-action="List"
                               asp-route-category="politics"
                               asp-route-page="1">Politics</a>
                        </li>

                        <li class="world dropdown mega-cat-dropdown">
                            <a asp-controller="News"
                               asp-action="List"
                               asp-route-category="world"
                               asp-route-page="1">World</a>
                        </li>

                        <li class="sports">
                            <a asp-controller="News"
                               asp-action="List"
                               asp-route-category="sport"
                               asp-route-page="1">Sports</a>
                        </li>
                        <li class="health">
                            <a asp-controller="News"
                               asp-action="List"
                               asp-route-category="lifeandstyle_health-and-wellbeing"
                               asp-route-page="1">Health</a>
                        </li>
                        <li class="entertainment">
                            <a asp-controller="News"
                               asp-action="List"
                               asp-route-category="culture"
                               asp-route-page="1">Entertainment</a>
                        </li>
                        <li class="lifestyle">
                            <a asp-controller="News"
                               asp-action="List"
                               asp-route-category="lifeandstyle"
                               asp-route-page="1">Lifestyle</a>
                        </li>
                    </ul>
                </nav>
                <!-- searchNlogin -->
            </div>
        </div>
    </header><!--/#navigation-->

    <div class="container">
        <div class="section">
            <div class="row">
                <div class="site-content col-lg-12">
                    <div class="row">
                        <div class="col-md-8">
                            <div id="home-slider">
                                @foreach (var item in Model.news)
                                {
                                    if (item.fields != null)
                                    {
                                        string contentUrl = Url.GetContentUrl(item.id.ToString());
                                        string contentDate = Url.GetContentDate(item.webPublicationDate);
                                        <div class="post feature-post">
                                            <div class="entry-header">
                                                <div class="entry-thumbnail">
                                                    <img class="img-fluid-index" src="@Url.Content(item.fields.thumbnail)" alt="Image" />
                                                </div>
                                                <div class="catagory world"><a href="#">@item.sectionName</a></div>
                                            </div>
                                            <div class="post-content">
                                                <div class="entry-meta">
                                                    <ul class="list-inline">
                                                        <li class="publish-date"><i class="fa fa-clock-o"></i><a href="#"> @item.webPublicationDate</a></li>
                                                    </ul>
                                                </div>
                                                <h2 class="entry-title">
                                                    <a asp-controller="News"
                                                       asp-action="Details"
                                                       asp-route-id="@contentUrl">@item.webTitle</a>
                                                </h2>
                                            </div>
                                        </div><!--/post-->
                                    }

                                }
                            </div>
                        </div>
                        <div class="col-md-4">
                            @foreach (var healthItem in Model.healthnews)
                            {
                                string contentUrl = Url.GetContentUrl(healthItem.id.ToString());
                                string contentDate = Url.GetContentDate(healthItem.webPublicationDate);

                                <div class="post feature-post">
                                    <div class="entry-header">
                                        <div class="entry-thumbnail">
                                            <img class="img-health-index" src="@Url.Content(healthItem.fields.thumbnail)" alt="Image" />
                                        </div>
                                        <div class="catagory health"><span><a href="#">Health</a></span></div>
                                    </div>
                                    <div class="post-content">
                                        <div class="entry-meta">
                                            <ul class="list-inline">
                                                <li class="publish-date"><i class="fa fa-clock-o"></i><a href="#"> @healthItem.webPublicationDate </a></li>
                                            </ul>
                                        </div>
                                        <h2 class="entry-title">
                                            <a asp-controller="News"
                                               asp-action="Details"
                                               asp-route-id="@contentUrl">@healthItem.webTitle</a>
                                        </h2>
                                    </div>
                                </div>
                                break;
                            }<!--/post-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            @foreach (var technologyItem in Model.technologynews)
                            {

                                string contentUrl = Url.GetContentUrl(technologyItem.id.ToString());
                                string contentDate = Url.GetContentDate(technologyItem.webPublicationDate);

                                <div class="post feature-post">
                                    <div class="entry-header">
                                        <div class="entry-thumbnail">
                                            @if (technologyItem.fields != null)
                                            {
                                                <img class="img-fluid-tech" src="@Url.Content(technologyItem.fields.thumbnail)" alt="Image" />
                                            }
                                        </div>
                                        <div class="catagory technology"><span><a href="#">Technology</a></span></div>
                                    </div>
                                    <div class="post-content">
                                        <div class="entry-meta">
                                            <ul class="list-inline">
                                                <li class="publish-date"><i class="fa fa-clock-o"></i><a href="#"> @technologyItem.webPublicationDate </a></li>
                                            </ul>
                                        </div>
                                        <h2 class="entry-title">
                                            <a asp-controller="News"
                                               asp-action="Details"
                                               asp-route-id="@contentUrl">@technologyItem.webTitle</a>
                                        </h2>
                                    </div>
                                </div><!--/post-->
                                break;
                            }
                        </div>
                        <div class="col-md-4">
                            @foreach (var entertainmentItem in Model.entertainmentnews)
                            {
                                string contentUrl = Url.GetContentUrl(entertainmentItem.id.ToString());
                                string contentDate = Url.GetContentDate(entertainmentItem.webPublicationDate);
                                <div class="post feature-post">
                                    <div class="entry-header">
                                        <div class="entry-thumbnail">
                                            @if (entertainmentItem.fields != null)
                                            {
                                                <img class="img-fluid-tech" src="@Url.Content(entertainmentItem.fields.thumbnail)" alt="Image" />

                                            }
                                        </div>
                                        <div class="catagory entertainment"><a href="#">Entertainment</a></div>
                                    </div>
                                    <div class="post-content">
                                        <div class="entry-meta">
                                            <ul class="list-inline">
                                                <li class="publish-date"><i class="fa fa-clock-o"></i><a href="#"> @entertainmentItem.webPublicationDate </a></li>
                                            </ul>
                                        </div>

                                        <h2 class="entry-title">
                                            <a asp-controller="News"
                                               asp-action="Details"
                                               asp-route-id="@contentUrl">@entertainmentItem.webTitle</a>
                                        </h2>
                                    </div>
                                </div>
                                if (entertainmentItem.fields != null)
                                {
                                    break;
                                }

                            }<!--/post-->
                        </div>
                        <div class="col-md-4">
                            @foreach (var politicsItem in Model.politicsnews)
                            {
                                string contentUrl = Url.GetContentUrl(politicsItem.id.ToString());
                                string contentDate = Url.GetContentDate(politicsItem.webPublicationDate);

                                <div class="post feature-post">
                                    <div class="entry-header">
                                        <div class="entry-thumbnail">
                                            @if (politicsItem.fields != null)
                                            {
                                                <img class="img-fluid-tech" src="@Url.Content(politicsItem.fields.thumbnail)" alt="Image" />
                                            }
                                        </div>
                                        <div class="catagory politics"><span><a href="#">Politics</a></span></div>
                                    </div>
                                    <div class="post-content">
                                        <div class="entry-meta">
                                            <ul class="list-inline">
                                                <li class="publish-date"><i class="fa fa-clock-o"></i><a href="#">@politicsItem.webPublicationDate </a></li>
                                            </ul>
                                        </div>
                                        <h2 class="entry-title">
                                            <a asp-controller="News"
                                               asp-action="Details"
                                               asp-route-id="@contentUrl">@politicsItem.webTitle</a>
                                        </h2>
                                    </div>
                                </div>
                                break;
                            }<!--/post-->
                        </div>
                    </div>
                </div><!--/#content-->
                @*<div class="col-lg-3 d-none d-lg-block">
                        <div class="add featured-add">
                            <a href="#"><img class="img-fluid" src="images/post/add/add1.jpg" alt="Image" /></a>
                        </div>
                    </div>*@<!--/#add-->
            </div>
        </div><!--/.section-->
        @*<div class="section add inner-add">
                <a href="#"><img class="img-fluid" src="images/post/add/add2.jpg" alt="Image" /></a>
            </div>*@<!--/.section-->

        <div class="section">
            <div class="latest-news-wrapper">
                <h1 class="section-title">Latest News</h1>
                <div id="latest-news">
                    @foreach (var politicsItem3 in Model.politicsnews.Skip(2).Take(1))
                    {
                        string pi3contentUrl = Url.GetContentUrl(politicsItem3.id.ToString());

                        <div class="post medium-post">
                            <div class="entry-header">
                                <div class="entry-thumbnail">
                                    @if (politicsItem3.fields != null)
                                    {
                                        <img class="img-fluid" src="@Url.Content(politicsItem3.fields.thumbnail)" alt="Image" />
                                    }
                                </div>
                                <div class="catagory politics"><span><a href="#">Politics</a></span></div>
                            </div>
                            <div class="post-content">
                                <div class="entry-meta">
                                    <ul class="list-inline">
                                        <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> @politicsItem3.webPublicationDate </a></li>
                                    </ul>
                                </div>
                                <h2 class="entry-title">
                                    <a asp-controller="News"
                                       asp-action="Details"
                                       asp-route-id="@pi3contentUrl">@politicsItem3.webTitle</a>
                                </h2>
                            </div>
                        </div>
                    }
                    <!--/post-->
                    @foreach (var worldItem6 in Model.sportsnews.Skip(5).Take(1))
                    {
                        string wi6contentUrl = Url.GetContentUrl(worldItem6.id.ToString());

                        <div class="post medium-post">
                            <div class="entry-header">
                                <div class="entry-thumbnail">
                                    @if (worldItem6.fields != null)
                                    {
                                    <img class="img-fluid" src="@Url.Content(worldItem6.fields.thumbnail)" alt="Image" />
                                    }
                                </div>
                                <div class="catagory world"><a href="#">World</a></div>
                            </div>
                            <div class="post-content">
                                <div class="entry-meta">
                                    <ul class="list-inline">
                                        <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> @worldItem6.webPublicationDate </a></li>
                                    </ul>
                                </div>
                                <h2 class="entry-title">
                                    <a asp-controller="News"
                                       asp-action="Details"
                                       asp-route-id="@wi6contentUrl">@worldItem6.webTitle</a>
                                </h2>
                            </div>
                        </div>
                    }
                    <!--/post-->
                    @foreach (var entertainmentItem3 in Model.sportsnews.Skip(2).Take(1))
                    {
                        string ei3contentUrl = Url.GetContentUrl(entertainmentItem3.id.ToString());

                        <div class="post medium-post">
                            <div class="entry-header">
                                <div class="entry-thumbnail">
                                    @if (entertainmentItem3.fields != null)
                                    {
                                    <img class="img-fluid" src="@Url.Content(entertainmentItem3.fields.thumbnail)" alt="Image" />
                                    }
                                </div>
                                <div class="catagory health"><span><a href="#">Health</a></span></div>
                            </div>
                            <div class="post-content">
                                <div class="entry-meta">
                                    <ul class="list-inline">
                                        <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> @entertainmentItem3.webPublicationDate </a></li>
                                    </ul>
                                </div>
                                <h2 class="entry-title">
                                    <a asp-controller="News"
                                       asp-action="Details"
                                       asp-route-id="@ei3contentUrl">@entertainmentItem3.webTitle</a>
                                </h2>
                            </div>
                        </div>
                    }
                    <!--/post-->
                    @foreach (var sportsItem4 in Model.sportsnews.Skip(3).Take(1))
                    {
                        string si4contentUrl = Url.GetContentUrl(sportsItem4.id.ToString());

                        <div class="post medium-post">
                            <div class="entry-header">
                                <div class="entry-thumbnail">
                                    @if (sportsItem4.fields != null)
                                    {
                                    <img class="img-fluid" src="@Url.Content(sportsItem4.fields.thumbnail)" alt="Image" />
                                    }
                                </div>
                                <div class="catagory sports"><span><a href="#">Sports</a></span></div>
                            </div>
                            <div class="post-content">
                                <div class="entry-meta">
                                    <ul class="list-inline">
                                        <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> @sportsItem4.webPublicationDate </a></li>
                                    </ul>
                                </div>
                                <h2 class="entry-title">
                                    <a asp-controller="News"
                                       asp-action="Details"
                                       asp-route-id="@si4contentUrl">@sportsItem4.webTitle</a>
                                </h2>
                            </div>
                        </div>
                    }
                    <!--/post-->
                    @foreach (var politicsItem5 in Model.politicsnews.Skip(4).Take(1))
                    {
                        string pi5contentUrl = Url.GetContentUrl(politicsItem5.id.ToString());

                        <div class="post medium-post">
                            <div class="entry-header">
                                <div class="entry-thumbnail">
                                    @if (politicsItem5.fields != null)
                                    {
                                    <img class="img-fluid" src="@Url.Content(politicsItem5.fields.thumbnail)" alt="Image" />
                                    }
                                </div>
                                <div class="catagory politics"><span><a href="#">Politics</a></span></div>
                            </div>
                            <div class="post-content">
                                <div class="entry-meta">
                                    <ul class="list-inline">
                                        <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> @politicsItem5.webPublicationDate </a></li>
                                    </ul>
                                </div>
                                <h2 class="entry-title">
                                    <a asp-controller="News"
                                       asp-action="Details"
                                       asp-route-id="@pi5contentUrl">@politicsItem5.webTitle</a>
                                </h2>
                            </div>
                        </div>
                    }
                    <!--/post-->
                    @foreach (var entertainmentItem5 in Model.entertainmentnews.Skip(3).Take(1))
                    {
                        string ei5contentUrl = Url.GetContentUrl(entertainmentItem5.id.ToString());

                        <div class="post medium-post">
                            <div class="entry-header">
                                <div class="entry-thumbnail">
                                    @if (entertainmentItem5.fields != null)
                                    {
                                    <img class="img-fluid" src="@Url.Content(entertainmentItem5.fields.thumbnail)" alt="Image" />
                                    }
                                </div>
                                <div class="catagory entertainment"><span><a href="#">Entertainment</a></span></div>
                            </div>
                            <div class="post-content">
                                <div class="entry-meta">
                                    <ul class="list-inline">
                                        <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> @entertainmentItem5.webPublicationDate </a></li>
                                    </ul>
                                </div>
                                <h2 class="entry-title">
                                    <a asp-controller="News"
                                       asp-action="Details"
                                       asp-route-id="@ei5contentUrl">@entertainmentItem5.webTitle</a>
                                </h2>
                            </div>
                        </div>
                    }
                    <!--/post-->
                    @foreach (var sportsItem6 in Model.sportsnews.Skip(5).Take(1))
                    {
                        string si6contentUrl = Url.GetContentUrl(sportsItem6.id.ToString());

                        <div class="post medium-post">
                            <div class="entry-header">
                                <div class="entry-thumbnail">
                                    @if (sportsItem6.fields != null)
                                    {
                                    <img class="img-fluid" src="@Url.Content(sportsItem6.fields.thumbnail)" alt="Image" />
                                    }
                                </div>
                                <div class="catagory sports"><span><a href="#">Sports</a></span></div>
                            </div>
                            <div class="post-content">
                                <div class="entry-meta">
                                    <ul class="list-inline">
                                        <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> @sportsItem6.webPublicationDate </a></li>
                                    </ul>
                                </div>
                                <h2 class="entry-title">
                                    <a asp-controller="News"
                                       asp-action="Details"
                                       asp-route-id="@si6contentUrl">@sportsItem6.webTitle</a>
                                </h2>
                            </div>
                        </div>
                    }
                    <!--/post-->
                    @foreach (var ploticsItem6 in Model.politicsnews.Skip(5).Take(1))
                    {
                        string pi6contentUrl = Url.GetContentUrl(ploticsItem6.id.ToString());

                        <div class="post medium-post">
                            <div class="entry-header">
                                <div class="entry-thumbnail">
                                    @if (ploticsItem6.fields != null)
                                    {
                                        <img class="img-fluid" src="@Url.Content(ploticsItem6.fields.thumbnail)" alt="Image" />
                                    }
                                    
                                </div>
                                <div class="catagory politics"><span><a href="#">Politics</a></span></div>
                            </div>
                            <div class="post-content">
                                <div class="entry-meta">
                                    <ul class="list-inline">
                                        <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i>@ploticsItem6.webPublicationDate</a></li>
                                    </ul>
                                </div>
                                <h2 class="entry-title">
                                    <a asp-controller="News"
                                       asp-action="Details"
                                       asp-route-id="@pi6contentUrl">@ploticsItem6.webTitle</a>
                                </h2>
                            </div>
                        </div>
                    }
                    <!--/post-->
                    @foreach (var entertainmentItem6 in Model.entertainmentnews.Skip(5).Take(1))
                    {
                        string ei6contentUrl = Url.GetContentUrl(entertainmentItem6.id.ToString());

                        <div class="post medium-post">
                            <div class="entry-header">
                                <div class="entry-thumbnail">

                                    @if (entertainmentItem6.fields != null)
                                    {
                                    <img class="img-fluid" src="@Url.Content(entertainmentItem6.fields.thumbnail)" alt="Image" />
                                    }
                                </div>
                                <div class="catagory entertainment"><span><a href="#">Entertainment</a></span></div>
                            </div>
                            <div class="post-content">
                                <div class="entry-meta">
                                    <ul class="list-inline">
                                        <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i>@entertainmentItem6.webPublicationDate  </a></li>
                                    </ul>
                                </div>
                                <h2 class="entry-title">
                                    <a asp-controller="News"
                                       asp-action="Details"
                                       asp-route-id="@ei6contentUrl">@entertainmentItem6.webTitle</a>
                                </h2>
                            </div>
                        </div>
                    }
                    <!--/post-->
                </div>
            </div><!--/.latest-news-wrapper-->
        </div><!--/.section-->

        <div class="section">
            <div class="row">
                <div class="col-md-8 col-lg-9">
                    <div id="site-content">
                        <div class="row">
                            <div class="col-lg-8 col-md-6 tr-sticky">
                                <div class="left-content theiaStickySidebar">
                                    <div class="section world-news">
                                        <h1 class="section-title title">Worlds</h1>
                                        @*<div class="world-nav cat-menu">
                                                <ul class="list-inline">
                                                    <li class="active"><a href="listing.html">Us</a></li>
                                                    <li><a href="listing.html">Crime</a></li>
                                                    <li><a href="listing.html">Local</a></li>
                                                    <li><a href="listing.html">Offbet</a></li>
                                                    <li><a href="listing.html">Openion</a></li>
                                                    <li><a href="listing.html">See All</a></li>
                                                </ul>
                                            </div>*@
                                        <div class="post">

                                            @foreach (var worldnewstItem2 in Model.worldnews.Skip(1).Take(1))
                                            {
                                                string wi2contentUrl = Url.GetContentUrl(worldnewstItem2.id.ToString());

                                                <div class="entry-header">
                                                    <div class="entry-thumbnail">
                                                        <img class="img-fluid-worldmain" src="@Url.Content(worldnewstItem2.fields.thumbnail)" alt="Image" />
                                                        @*@Html.Raw(worldnewstItem2.fields.main)*@
                                                    </div>
                                                </div>
                                                <div class="post-content">
                                                    <div class="entry-meta">
                                                        <ul class="list-inline">
                                                            <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> @worldnewstItem2.webPublicationDate</a></li>
                                                        </ul>
                                                    </div>
                                                    <h2 class="entry-title">
                                                        <a asp-controller="News"
                                                           asp-action="Details"
                                                           asp-route-id="@wi2contentUrl">@worldnewstItem2.webTitle</a>
                                                    </h2>
                                                    <div class="entry-content">
                                                        @Html.Raw(worldnewstItem2.fields.standfirst)
                                                    </div>
                                                </div>
                                            }
                                            <div class="list-post">
                                                @foreach (var worldnews3Item in Model.worldnews)
                                                {
                                                    string wi3contentUrl = Url.GetContentUrl(worldnews3Item.id.ToString());

                                                    <ul>
                                                        <li>
                                                            <a asp-controller="News"
                                                               asp-action="Details"
                                                               asp-route-id="@wi3contentUrl">@worldnews3Item.webTitle<i class="fa fa-angle-right"></i></a>
                                                        </li>
                                                    </ul>
                                                }
                                            </div><!--/list-post-->
                                        </div><!--/post-->
                                    </div><!--/.section-->

                                    <div class="section technology-news">
                                        <h1 class="section-title">Technology</h1>

                                        <div class="row">
                                            <div class="col-lg-8">
                                                <div class="post">
                                                    @{var technologynewsItem4 = Model.technologynews.Skip(3).First();
                                                        string ti4contentUrl = Url.GetContentUrl(technologynewsItem4.id.ToString());
                                                    }
                                                    <div class="entry-header">
                                                        <div class="entry-thumbnail">
                                                            <img class="img-fluid" src="@Url.Content(technologynewsItem4.fields.thumbnail)" alt="@technologynewsItem4.webTitle" />
                                                        </div>
                                                    </div>
                                                    <div class="post-content">
                                                        <div class="entry-meta">
                                                            <ul class="list-inline">
                                                                <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i>@technologynewsItem4.webPublicationDate </a></li>
                                                            </ul>
                                                        </div>
                                                        <h2 class="entry-title">
                                                            <a asp-controller="News"
                                                               asp-action="Details"
                                                               asp-route-id="@ti4contentUrl">@technologynewsItem4.webTitle</a>
                                                        </h2>
                                                        <div class="entry-content">
                                                            @Html.Raw(technologynewsItem4.fields.standfirst)
                                                        </div>
                                                    </div>
                                                </div><!--/post-->
                                            </div>
                                            <div class="col-lg-4">
                                                @foreach (var technologySmallPost in Model.technologynews.Skip(4).Take(2))
                                                {

                                                    string tsmallpostcontentUrl = Url.GetContentUrl(technologySmallPost.id.ToString());
                                                    <div class="post small-post">
                                                        <div class="entry-header">
                                                            <div class="entry-thumbnail">
                                                                <img class="img-fluid" src="@Url.Content(technologySmallPost.fields.thumbnail)" alt="@technologySmallPost.webTitle" />
                                                            </div>
                                                        </div>
                                                        <div class="post-content">
                                                            <div class="entry-meta">
                                                                <ul class="list-inline">
                                                                    <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> @technologySmallPost.webPublicationDate </a></li>
                                                                </ul>
                                                            </div>
                                                            <h2 class="entry-title">
                                                                <a asp-controller="News"
                                                                   asp-action="Details"
                                                                   asp-route-id="@tsmallpostcontentUrl">@technologySmallPost.webTitle</a>
                                                            </h2>
                                                        </div>
                                                    </div>
                                                }<!--/post-->
                                                @*<div class="post small-post">
                                                        <div class="entry-header">
                                                            <div class="entry-thumbnail">
                                                                <img class="img-fluid" src="images/post/t3.jpg" alt="Image" />
                                                            </div>
                                                        </div>
                                                        <div class="post-content">
                                                            <div class="entry-meta">
                                                                <ul class="list-inline">
                                                                    <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> Nov 15, 2018 </a></li>
                                                                </ul>
                                                            </div>
                                                            <h2 class="entry-title">
                                                                <a href="news-details.html">Why is the media so afraid of Facebook?</a>
                                                            </h2>
                                                        </div>
                                                    </div>*@<!--/post-->
                                            </div>
                                        </div>
                                    </div><!--/technology-news-->
                                    @*<div class="section add inner-add">
                                            <a href="#"><img class="img-fluid" src="images/post/add/add4.jpg" alt="Image" /></a>
                                        </div>*@<!--/.section add-->

                                    <div class="section photo-gallery">
                                        <h1 class="section-title title">Photo Gallery</h1>

                                        <div id="photo-gallery" class="carousel slide carousel-fade post" data-ride="carousel">
                                            <div class="carousel-inner">
                                                @foreach (var technologyImgGallery in Model.worldnews.Skip(8).Take(1))
                                                {
                                                    <div class="carousel-item active">
                                                        <a href="#"><img class="img-fluid-gallery" src="@Url.Content(technologyImgGallery.fields.thumbnail)" alt="Image" /></a>
                                                        <h2><a href="#">@technologyImgGallery.webTitle</a></h2>
                                                    </div>
                                                }
                                                @foreach (var technologyImgGallery in Model.worldnews.Take(8))
                                                {
                                                    <div class="carousel-item">
                                                        <a href="#"><img class="img-fluid-gallery" src="@Url.Content(technologyImgGallery.fields.thumbnail)" alt="Image" /></a>
                                                        <h2><a href="#">@technologyImgGallery.webTitle</a></h2>
                                                    </div>
                                                }
                                            </div><!--/carousel-inner-->

                                            <ol class="gallery-indicators carousel-indicators">
                                                @foreach (var technologyImg in Model.worldnews.Skip(8).Take(1))
                                                {
                                                    <li data-target="#photo-gallery" data-slide-to="0" class="active">
                                                        <img class="img-fluid" src="@Url.Content(technologyImg.fields.thumbnail)" alt="Image" />
                                                    </li>
                                                }
                                                @foreach (var technologyImg in Model.worldnews.Take(8).Select((value, i) => (value, i)))
                                                {
                                                    var value1 = technologyImg.value;
                                                    var index1 = technologyImg.i + 1;

                                                    <li data-target="#photo-gallery" data-slide-to="@index1">
                                                        <img class="img-fluid" src="@Url.Content(technologyImg.value.fields.thumbnail)" alt="Image" />
                                                    </li>

                                                }
                                            </ol><!--/gallery-indicators-->

                                            <div class="gallery-turner">
                                                <a class="left-photo" href="#photo-gallery" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                                                <a class="right-photo" href="#photo-gallery" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
                                            </div>
                                        </div>
                                    </div><!--/photo-gallery-->

                                    <div class="section lifestyle-section">
                                        <h1 class="section-title">Life Style</h1>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                @foreach (var lifestyleMedium in Model.lifestylenews.Skip(4).Take(2))
                                                {
                                                    string lifestyleMediumcontentUrl = Url.GetContentUrl(lifestyleMedium.id.ToString());
                                                    <div class="post medium-post">
                                                        <div class="entry-header">
                                                            <div class="entry-thumbnail">
                                                                <img class="img-fluid" src="@Url.Content(lifestyleMedium.fields.thumbnail)" alt="Image" />
                                                            </div>
                                                        </div>
                                                        <div class="post-content">
                                                            <div class="entry-meta">
                                                                <ul class="list-inline">
                                                                    <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> @lifestyleMedium.webPublicationDate </a></li>
                                                                </ul>
                                                            </div>
                                                            <h2 class="entry-title">
                                                                <a asp-controller="News"
                                                                   asp-action="Details"
                                                                   asp-route-id="@lifestyleMediumcontentUrl">@lifestyleMedium.webTitle</a>
                                                            </h2>
                                                        </div>
                                                    </div><!--/post-->
                                                    <!--/post-->
                                                }
                                            </div>
                                            <div class="col-lg-6">

                                                @foreach (var lifestyleMedium in Model.lifestylenews.Skip(7).Take(2))
                                                {
                                                    string lifestyleMediumcontentUrl = Url.GetContentUrl(lifestyleMedium.id.ToString());
                                                    <div class="post medium-post">
                                                        <div class="entry-header">
                                                            <div class="entry-thumbnail">
                                                                <img class="img-fluid" src="@Url.Content(lifestyleMedium.fields.thumbnail)" alt="Image" />
                                                            </div>
                                                        </div>
                                                        <div class="post-content">
                                                            <div class="entry-meta">
                                                                <ul class="list-inline">
                                                                    <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> @lifestyleMedium.webPublicationDate </a></li>
                                                                </ul>
                                                            </div>
                                                            <h2 class="entry-title">
                                                                <a asp-controller="News"
                                                                   asp-action="Details"
                                                                   asp-route-id="@lifestyleMediumcontentUrl">@lifestyleMedium.webTitle</a>
                                                            </h2>
                                                        </div>
                                                    </div><!--/post-->
                                                    <!--/post-->
                                                }
                                            </div>
                                        </div>
                                    </div><!--/.lifestyle -->

                                    <div class="section health-section">
                                        <h1 class="section-title">Health</h1>

                                        <div class="health-feature">
                                            @foreach (var healthFeature in Model.healthnews.Take(1))
                                            {
                                                string healthFeaturecontentUrl = Url.GetContentUrl(healthFeature.id.ToString());
                                                <div class="post">
                                                    <div class="entry-header">
                                                        <div class="entry-thumbnail">
                                                            <img class="img-fluid" src="@Url.Content(healthFeature.fields.thumbnail)" alt="@healthFeature.webTitle" />
                                                        </div>
                                                    </div>
                                                    <div class="post-content">
                                                        <div class="entry-meta">
                                                            <ul class="list-inline">
                                                                <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i>@healthFeature.webPublicationDate</a></li>
                                                            </ul>
                                                        </div>
                                                        <h2 class="entry-title">
                                                            <a asp-controller="News"
                                                               asp-action="Details"
                                                               asp-route-id="@healthFeaturecontentUrl">@healthFeature.webTitle</a>
                                                        </h2>
                                                    </div>
                                                </div><!--/post-->
                                            }
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                @foreach (var healthFeatureSmall in Model.healthnews.Skip(5).Take(2))
                                                {
                                                    string healthFeatureSmallcontentUrl = Url.GetContentUrl(healthFeatureSmall.id.ToString());
                                                    <div class="post small-post">
                                                        <div class="entry-header">
                                                            <div class="entry-thumbnail">
                                                                <img class="img-fluid" src="@Url.Content(healthFeatureSmall.fields.thumbnail)" alt="@healthFeatureSmall.webTitle" />
                                                            </div>
                                                        </div>
                                                        <div class="post-content">
                                                            <div class="entry-meta">
                                                                <ul class="list-inline">
                                                                    <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> @healthFeatureSmall.webPublicationDate </a></li>
                                                                </ul>
                                                            </div>
                                                            <h2 class="entry-title">
                                                                <a asp-controller="News"
                                                                   asp-action="Details"
                                                                   asp-route-id="@healthFeatureSmallcontentUrl">@healthFeatureSmall.webTitle</a>
                                                            </h2>
                                                        </div>
                                                    </div><!--/post-->
                                                }
                                                <!--/post-->
                                            </div>
                                            <div class="col-lg-6">
                                                @foreach (var healthFeatureSmall in Model.healthnews.Skip(7).Take(2))
                                                {
                                                    string healthFeatureSmallcontentUrl = Url.GetContentUrl(healthFeatureSmall.id.ToString());
                                                    <div class="post small-post">
                                                        <div class="entry-header">
                                                            <div class="entry-thumbnail">
                                                                <img class="img-fluid" src="@Url.Content(healthFeatureSmall.fields.thumbnail)" alt="@healthFeatureSmall.webTitle" />
                                                            </div>
                                                        </div>
                                                        <div class="post-content">
                                                            <div class="entry-meta">
                                                                <ul class="list-inline">
                                                                    <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> @healthFeatureSmall.webPublicationDate </a></li>
                                                                </ul>
                                                            </div>
                                                            <h2 class="entry-title">
                                                                <a asp-controller="News"
                                                                   asp-action="Details"
                                                                   asp-route-id="@healthFeatureSmallcontentUrl">@healthFeatureSmall.webTitle</a>
                                                            </h2>
                                                        </div>
                                                    </div><!--/post-->
                                                }
                                            </div>
                                        </div>
                                    </div><!--/.health-section -->
                                </div><!--/.left-content-->
                            </div>
                            <div class="col-lg-4 col-md-6 tr-sticky">
                                <div class="middle-content theiaStickySidebar">
                                    <div class="section sports-section">
                                        <h1 class="section-title title">Sports</h1>

                                        <div class="football-result post">
                                            @foreach (var sportsSection in Model.sportsnews.Skip(4).Take(4))
                                            {
                                                string sportsSectionSmallcontentUrl = Url.GetContentUrl(sportsSection.id.ToString());
                                                <div class="post medium-post">
                                                    <div class="entry-header">
                                                        <div class="entry-thumbnail">
                                                            <img class="img-fluid" src="@Url.Content(sportsSection.fields.thumbnail)" alt="@sportsSection.webTitle" />
                                                        </div>
                                                    </div>
                                                    <div class="post-content">
                                                        <div class="entry-meta">
                                                            <ul class="list-inline">
                                                                <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i>  @sportsSection.webPublicationDate </a></li>
                                                            </ul>
                                                        </div>
                                                        <h2 class="entry-title">
                                                            <a asp-controller="News"
                                                               asp-action="Details"
                                                               asp-route-id="@sportsSectionSmallcontentUrl">@sportsSection.webTitle</a>
                                                        </h2>
                                                    </div>
                                                </div>
                                                <!--/post-->
                                            }
                                        </div>
                                    </div><!--/.sports-section -->
                                    @*<div class="section">
                                            <div class="add inner-add">
                                                <a href="#"><img class="img-fluid" src="images/post/add/add5.jpg" alt="Image" /></a>
                                            </div>
                                        </div>*@

                                    <div class="section video-section">
                                        <h1 class="section-title title">Watch Video</h1>

                                        @foreach (var videoMedium in Model.videonews.Take(1))
                                        {
                                            string videoMediumcontentUrl = Url.GetContentUrl(videoMedium.id.ToString());
                                            string videoURL = Url.GetSecureUrl(videoMedium.fields.main.ToString());
                                            <div class="post video-post medium-post">
                                                <div class="entry-header">
                                                    <div class="entry-thumbnail embed-responsive embed-responsive-16by9">
                                                        @*<iframe class="embed-responsive-item" src="@videoMedium.webUrl" allowfullscreen></iframe>*@
                                                        @Html.Raw(videoURL);
                                                    </div>
                                                </div>
                                                <div class="post-content">
                                                    <div class="video-catagory"><a href="#">@videoMedium.sectionName</a></div>
                                                    <h2 class="entry-title">
                                                        <a href="#">@videoMedium.webTitle</a>
                                                    </h2>
                                                </div>
                                            </div><!--/post-->
                                        }

                                        <div class="video-post-list">
                                            <ul>
                                                @foreach (var videoMedium in Model.videonews.Skip(1).Take(3))
                                                {
                                                    string videoMediumcontentUrl = Url.GetContentUrl(videoMedium.id.ToString());
                                                    string videoURL = Url.GetSecureUrl(videoMedium.fields.main.ToString());
                                                    <li>
                                                        <div class="post video-post small-post">
                                                            <div class="entry-header">
                                                                <div class="entry-thumbnail embed-responsive embed-responsive-16by9">

                                                                    @Html.Raw(videoURL)
                                                                </div>
                                                            </div>
                                                            <div class="post-content">
                                                                <div class="video-catagory"><a href="#">@videoMedium.sectionName</a></div>
                                                                <h2 class="entry-title">
                                                                    <a href="#">@videoMedium.webTitle</a>
                                                                </h2>
                                                            </div>
                                                        </div><!--/post-->
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div> <!-- /.video-section -->

                                    <div class="section business-section">
                                        <h1 class="section-title">Business</h1>

                                        @foreach (var businessSection in Model.businessnews.Skip(4).Take(2))
                                        {
                                            string businessSectionSmallcontentUrl = Url.GetContentUrl(businessSection.id.ToString());
                                            <div class="post medium-post">
                                                <div class="entry-header">
                                                    <div class="entry-thumbnail">
                                                        <img class="img-fluid" src="@Url.Content(businessSection.fields.thumbnail)" alt="Image" />
                                                    </div>
                                                </div>
                                                <div class="post-content">
                                                    <div class="entry-meta">
                                                        <ul class="list-inline">
                                                            <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> @businessSection.webPublicationDate </a></li>
                                                        </ul>
                                                    </div>
                                                    <h2 class="entry-title">
                                                        <a asp-controller="News"
                                                           asp-action="Details"
                                                           asp-route-id="@businessSectionSmallcontentUrl">@businessSection.webTitle</a>
                                                    </h2>
                                                </div>
                                            </div><!--/post-->

                                        }
                                    </div><!-- /.business-section -->
                                </div><!--/.middle-content-->
                            </div>
                        </div>
                    </div><!--/#site-content-->
                </div>
                <div class="col-md-4 col-lg-3 tr-sticky">
                    <div id="sitebar" class="theiaStickySidebar">
                        <!--/#widget-->
                        @*<div class="widget">
                                <div class="add">
                                    <a href="#"><img class="img-fluid" src="images/post/add/add3.jpg" alt="Image" /></a>
                                </div>
                            </div>*@<!--/#widget-->

                        <div class="widget">
                            <h1 class="section-title title">This is Rising!</h1>
                            <ul class="post-list">
                                <li>
                                    @foreach (var risingWorld in Model.worldnews.Skip(8).Take(1))
                                    {
                                        string risingWorldUrl = Url.GetContentUrl(risingWorld.id.ToString());
                                        <div class="post small-post">
                                            <div class="entry-header">
                                                <div class="entry-thumbnail">
                                                    @if (risingWorld.fields != null)
                                                    {
                                                        <img class="img-fluid" src="@Url.Content(risingWorld.fields.thumbnail)" alt="@risingWorld.webTitle" />
                                                    }
                                                </div>
                                            </div>
                                            <div class="post-content">
                                                <div class="video-catagory"><a href="#">World</a></div>
                                                <h2 class="entry-title">
                                                    <a asp-controller="News"
                                                       asp-action="Details"
                                                       asp-route-id="@risingWorldUrl">@risingWorld.webTitle</a>
                                                </h2>
                                            </div>
                                        </div><!--/post-->
                                    }
                                </li>
                                <li>
                                    @foreach (var risingBusiness in Model.businessnews.Skip(8).Take(1))
                                    {
                                        string risingBusinessUrl = Url.GetContentUrl(risingBusiness.id.ToString());
                                        <div class="post small-post">
                                            <div class="entry-header">
                                                <div class="entry-thumbnail">
                                                    @if (risingBusiness.fields != null)
                                                    {
                                                        <img class="img-fluid" src="@Url.Content(risingBusiness.fields.thumbnail)" alt="@risingBusiness.webTitle" />
                                                    }
                                                </div>
                                            </div>
                                            <div class="post-content">
                                                <div class="video-catagory"><a href="#">Business</a></div>
                                                <h2 class="entry-title">
                                                    <a asp-controller="News"
                                                       asp-action="Details"
                                                       asp-route-id="@risingBusinessUrl">@risingBusiness.webTitle</a>
                                                </h2>
                                            </div>
                                        </div><!--/post-->
                                    }
                                </li>
                                <li>
                                    @foreach (var risingSports in Model.sportsnews.Skip(8).Take(1))
                                    {
                                        string risingSportsUrl = Url.GetContentUrl(risingSports.id.ToString());
                                        <div class="post small-post">
                                            <div class="entry-header">
                                                <div class="entry-thumbnail">
                                                    @if (risingSports.fields != null)
                                                    {
                                                        <img class="img-fluid" src="@Url.Content(risingSports.fields.thumbnail)" alt="@risingSports.webTitle" />
                                                    }
                                                </div>
                                            </div>
                                            <div class="post-content">
                                                <div class="video-catagory"><a href="#">Sports</a></div>
                                                <h2 class="entry-title">
                                                    <a asp-controller="News"
                                                       asp-action="Details"
                                                       asp-route-id="@risingSportsUrl">@risingSports.webTitle</a>
                                                </h2>
                                            </div>
                                        </div><!--/post-->
                                    }<!--/post-->
                                </li>
                                <li>
                                    @foreach (var risingTechnology in Model.technologynews.Skip(8).Take(1))
                                    {
                                        string risingTechnologyUrl = Url.GetContentUrl(risingTechnology.id.ToString());
                                        <div class="post small-post">
                                            <div class="entry-header">
                                                <div class="entry-thumbnail">
                                                    @if (risingTechnology.fields != null)
                                                    {
                                                        <img class="img-fluid" src="@Url.Content(risingTechnology.fields.thumbnail)" alt="@risingTechnology.webTitle" />
                                                    }
                                                </div>
                                            </div>
                                            <div class="post-content">
                                                <div class="video-catagory"><a href="#">Technology</a></div>
                                                <h2 class="entry-title">
                                                    <a asp-controller="News"
                                                       asp-action="Details"
                                                       asp-route-id="@risingTechnologyUrl">@risingTechnology.webTitle</a>
                                                </h2>
                                            </div>
                                        </div><!--/post-->
                                    }<!--/post-->
                                </li>
                                <li>
                                    @foreach (var risingPolitics in Model.politicsnews.Skip(8).Take(1))
                                    {
                                        string risingPoliticsUrl = Url.GetContentUrl(risingPolitics.id.ToString());
                                        <div class="post small-post">
                                            <div class="entry-header">
                                                <div class="entry-thumbnail">
                                                    @if (risingPolitics.fields != null)
                                                    {
                                                        <img class="img-fluid" src="@Url.Content(risingPolitics.fields.thumbnail)" alt="@risingPolitics.webTitle" />
                                                    }
                                                </div>
                                            </div>
                                            <div class="post-content">
                                                <div class="video-catagory"><a href="#">Technology</a></div>
                                                <h2 class="entry-title">
                                                    <a asp-controller="News"
                                                       asp-action="Details"
                                                       asp-route-id="@risingPoliticsUrl">@risingPolitics.webTitle</a>
                                                </h2>
                                            </div>
                                        </div><!--/post-->
                                    }<!--/post-->
                                </li>
                                <li>
                                    @foreach (var risingHealth in Model.healthnews.Skip(8).Take(1))
                                    {
                                        string risingHealthUrl = Url.GetContentUrl(risingHealth.id.ToString());
                                        <div class="post small-post">
                                            <div class="entry-header">
                                                <div class="entry-thumbnail">
                                                    @if (risingHealth.fields != null)
                                                    {
                                                        <img class="img-fluid" src="@Url.Content(risingHealth.fields.thumbnail)" alt="@risingHealth.webTitle" />
                                                    }
                                                </div>
                                            </div>
                                            <div class="post-content">
                                                <div class="video-catagory"><a href="#">Health</a></div>
                                                <h2 class="entry-title">
                                                    <a asp-controller="News"
                                                       asp-action="Details"
                                                       asp-route-id="@risingHealthUrl">@risingHealth.webTitle</a>
                                                </h2>
                                            </div>
                                        </div><!--/post-->
                                    }<!--/post-->
                                </li>
                                <li>
                                    @foreach (var risingLifestyle in Model.lifestylenews.Skip(8).Take(1))
                                    {
                                        string risingLifestyleUrl = Url.GetContentUrl(risingLifestyle.id.ToString());
                                        <div class="post small-post">
                                            <div class="entry-header">
                                                <div class="entry-thumbnail">
                                                    @if (risingLifestyle.fields != null)
                                                    {
                                                        <img class="img-fluid" src="@Url.Content(risingLifestyle.fields.thumbnail)" alt="@risingLifestyle.webTitle" />
                                                    }
                                                </div>
                                            </div>
                                            <div class="post-content">
                                                <div class="video-catagory"><a href="#">Lifestyle</a></div>
                                                <h2 class="entry-title">
                                                    <a asp-controller="News"
                                                       asp-action="Details"
                                                       asp-route-id="@risingLifestyleUrl">@risingLifestyle.webTitle</a>
                                                </h2>
                                            </div>
                                        </div><!--/post-->
                                    }<!--/post-->
                                </li>
                                <li>
                                    @foreach (var risingEntertainment in Model.entertainmentnews.Skip(8).Take(1))
                                    {
                                        string risingEntertainmentUrl = Url.GetContentUrl(risingEntertainment.id.ToString());
                                        <div class="post small-post">
                                            <div class="entry-header">
                                                <div class="entry-thumbnail">
                                                    @if (risingEntertainment.fields != null)
                                                    {
                                                        <img class="img-fluid" src="@Url.Content(risingEntertainment.fields.thumbnail)" alt="@risingEntertainment.webTitle" />
                                                    }
                                                </div>
                                            </div>
                                            <div class="post-content">
                                                <div class="video-catagory"><a href="#">Entertainment</a></div>
                                                <h2 class="entry-title">
                                                    <a asp-controller="News"
                                                       asp-action="Details"
                                                       asp-route-id="@risingEntertainmentUrl">@risingEntertainment.webTitle</a>
                                                </h2>
                                            </div>
                                        </div><!--/post-->
                                    }<!--/post-->
                                </li>
                                <li>
                                    @foreach (var risingBusiness in Model.businessnews.Skip(8).Take(1))
                                    {
                                        string risingBusinessUrl = Url.GetContentUrl(risingBusiness.id.ToString());
                                        <div class="post small-post">
                                            <div class="entry-header">
                                                <div class="entry-thumbnail">
                                                    @if (risingBusiness.fields != null)
                                                    {
                                                        <img class="img-fluid" src="@Url.Content(risingBusiness.fields.thumbnail)" alt="@risingBusiness.webTitle" />
                                                    }
                                                </div>
                                            </div>
                                            <div class="post-content">
                                                <div class="video-catagory"><a href="#">Business</a></div>
                                                <h2 class="entry-title">
                                                    <a asp-controller="News"
                                                       asp-action="Details"
                                                       asp-route-id="@risingBusinessUrl">@risingBusiness.webTitle</a>
                                                </h2>
                                            </div>
                                        </div><!--/post-->
                                    }<!--/post-->
                                </li>
                            </ul>
                        </div><!--/#widget-->
                        @*<div class="widget">
                                <div class="add">
                                    <a href="#"><img class="img-fluid" src="images/post/add/add6.jpg" alt="Image" /></a>
                                </div>
                            </div>*@<!--/#widget-->

                        <div class="widget weather-widget">
                            <div id="weather-widget">
                                <span class="weather-icon">
                                    <img src="images/others/weather.png" alt="Icon" class="img-fluid">
                                </span>
                                <span class="temp"></span>
                                <span class="weather-humidity">87%</span>
                                <span class="weather-wind">3.6 MPH</span>
                            </div>
                        </div><!--/#widget-->

                        <div class="widget meta-widget">
                            <h1 class="section-title title">Widget</h1>
                            <div class="meta-tab">
                                <ul class="nav nav-tabs nav-justified">

                                    <li><a href="#"><i class="fa fa-inbox"></i>Tag</a></li>
                                </ul>

                                <div class="post small-post">

                                    <div class="tab-pane">
                                        <ul class="list-inline tag-cloud">
                                            <li>
                                                <a asp-controller="Home"
                                                   asp-action="Index"
                                                   data-toggle="dropdown">Home</a>,
                                            </li>
                                            <li>
                                                <a asp-controller="News"
                                                   asp-action="List"
                                                   asp-route-category="business"
                                                   asp-route-page="1">Business</a>,
                                            </li>
                                            <li>
                                                <a asp-controller="News"
                                                   asp-action="List"
                                                   asp-route-category="politics"
                                                   asp-route-page="1">Politics</a>,
                                            </li>

                                            <li>
                                                <a asp-controller="News"
                                                   asp-action="List"
                                                   asp-route-category="world"
                                                   asp-route-page="1">World</a>,
                                            </li>

                                            <li>
                                                <a asp-controller="News"
                                                   asp-action="List"
                                                   asp-route-category="sport"
                                                   asp-route-page="1">Sports</a>,
                                            </li>

                                            <li>
                                                <a asp-controller="News"
                                                   asp-action="List"
                                                   asp-route-category="lifeandstyle_health-and-wellbeing"
                                                   asp-route-page="1">Health</a>,
                                            </li>
                                            <li>
                                                <a asp-controller="News"
                                                   asp-action="List"
                                                   asp-route-category="culture"
                                                   asp-route-page="1">Entertainment</a>,
                                            </li>
                                            <li>
                                                <a asp-controller="News"
                                                   asp-action="List"
                                                   asp-route-category="lifeandstyle"
                                                   asp-route-page="1">Lifestyle</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div><!--/#widget-->
                    </div><!--/#sitebar-->
                </div>
            </div>
        </div><!--/.section-->
    </div><!--/.container-->
    @*<div id="twitter-feed">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="twitter-feeds">
                            <div class="twitter-feed">
                                <img class="img-fluid" src="images/others/twitter.png" alt="Image" />
                                <h2>#Newspress</h2>
                                <p>Confusing <a href="#">#design</a> terms: what's the difference between quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="#">#UX, #UI and #IA? http://buff.ly/1KdjpEi  </a> </p>
                            </div>
                            <div class="twitter-feed">
                                <img class="img-fluid" src="images/others/twitter.png" alt="Image" />
                                <h2>#ThemeRegion</h2>
                                <p>Confusing <a href="#">#design</a> terms: what's the difference between quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="#">#UX, #UI and #IA? http://buff.ly/1KdjpEi  </a> </p>
                            </div>
                            <div class="twitter-feed">
                                <img class="img-fluid" src="images/others/twitter.png" alt="Image" />
                                <h2>#Doors</h2>
                                <p>Confusing <a href="#">#design</a> terms: what's the difference between quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="#">#UX, #UI and #IA? http://buff.ly/1KdjpEi  </a> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@<!--/#twitter-feed-->
    @*<div class="footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="widget">
                            <h1 class="section-title title">About Us</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <address>
                                <p>Address : 123 Gegrit, London, England</p>
                                <p>Call : +1234-222-3333</p>
                                <p>Email: <a href="#">info@newspress.com</a></p>
                            </address>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="widget">
                            <h1 class="section-title title">Flickr Gallery</h1>
                            <ul>
                                <li><a href="images/post/flicker/1.jpg" class="image-link"><img class="img-fluid" src="images/post/flicker/1.jpg" alt="Image" /></a></li>
                                <li><a href="images/post/flicker/2.jpg" class="image-link"><img class="img-fluid" src="images/post/flicker/2.jpg" alt="Image" /></a></li>
                                <li><a href="images/post/flicker/3.jpg" class="image-link"><img class="img-fluid" src="images/post/flicker/3.jpg" alt="Image" /></a></li>
                                <li><a href="images/post/flicker/4.jpg" class="image-link"><img class="img-fluid" src="images/post/flicker/4.jpg" alt="Image" /></a></li>
                                <li><a href="images/post/flicker/5.jpg" class="image-link"><img class="img-fluid" src="images/post/flicker/5.jpg" alt="Image" /></a></li>
                                <li><a href="images/post/flicker/6.jpg" class="image-link"><img class="img-fluid" src="images/post/flicker/6.jpg" alt="Image" /></a></li>
                                <li><a href="images/post/flicker/7.jpg" class="image-link"><img class="img-fluid" src="images/post/flicker/7.jpg" alt="Image" /></a></li>
                                <li><a href="images/post/flicker/8.jpg" class="image-link"><img class="img-fluid" src="images/post/flicker/8.jpg" alt="Image" /></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="widget news-letter">
                            <h1 class="section-title title">Weekly NewsLetter</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>

                            <form action="#" method="post" id="subscribe-form" name="subscribe-form">
                                <input type="text" placeholder="Your E-mail" name="email">
                                <button type="submit" name="subscribe" id="subscribe">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@<!--/.footer-widget-->
</div><!--/#main-wrapper-->
@*<div class="subscribe-me text-center">
        <h1>Don’t Miss The Hottest News</h1>
        <h2>Subscribe our Newsletter</h2>
        <a href="#close" class="sb-close-btn"><img class="img-fluid" src="images/others/close-button.png" alt="Image" /></a>
        <form action="#" method="post" id="popup-subscribe-form" name="subscribe-form">
            <div class="input-group">
                <span class="input-group-addon"><img src="images/others/icon-message.png" alt="Image" /></span>
                <input type="text" placeholder="Enter your email" name="email">
                <button type="submit" name="subscribe">Go</button>
            </div>
        </form>
    </div>*@  <!--/.subscribe-me-->
<!--/#scripts-->