﻿@model NewsFeed.Models.NewsResult

@using X.PagedList.Mvc.Core; @*import this so we get our HTML Helper*@
@using X.PagedList; @*import this so we can cast our list to IPagedList (only necessary because ViewBag is dynamic)*@
@using NewsFeed.Models;
@using X.PagedList.Mvc.Core.Fluent;
@using NewsFeed.UrlHelpers;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Boxed.AspNetCore;

<div id="main-wrapper" class="page">
    <partial name="~/Views/Partial/_Header.cshtml" />
    <!--/#navigation-->

    <div class="container">
        <div class="page-breadcrumbs">
            <h1 class="section-title">Worlds</h1>
            @*<div class="world-nav cat-menu">
                    <ul class="list-inline">
                        <li class="active"><a href="#">Us</a></li>
                        <li><a href="#">Crime</a></li>
                        <li><a href="#">Local</a></li>
                        <li><a href="#">Offbet</a></li>
                        <li><a href="#">Openion</a></li>
                    </ul>
                </div>*@
        </div>
        <div class="section">
            <div class="row">
                <div class="col-md-8 col-lg-9">
                    <div id="site-content" class="site-content">
                        <div class="row">
                            <div class="col">
                                <div class="left-content">
                                    @{ var newsContent = Model.newscontent;}
                                    <div class="details-news">
                                        <div class="post">
                                            <div class="entry-header">

                                                <div class="entry-thumbnail">
                                                    @*<img class="img-fluid-content" src="@Url.Content(newsContent.fields.thumbnail)" alt="" />*@
                                                    @Html.Raw(newsContent.fields.main)
                                                </div>
                                            </div>

                                            <div class="post-content">

                                                <div class="entry-meta">
                                                    <ul class="list-inline">
                                                        <li class="posted-by"><i class="fa fa-user"></i> by <a href="#">@newsContent.fields.byline</a></li>
                                                        <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i>@newsContent.webPublicationDate </a></li>
                                                    </ul>
                                                </div>
                                                <h2 class="entry-title">
                                                </h2>
                                                <div class="entry-content">
                                                    @Html.Raw(newsContent.fields.body)
                                                </div>
                                            </div>
                                        </div><!--/post-->
                                    </div><!--/.section-->
                                </div><!--/.left-content-->
                            </div>
                        </div>
                    </div><!--/#site-content-->

                    <div class="row">
                        <div class="col-sm-12">
                            @*<div class="post google-add">
                                    <div class="add inner-add text-center">
                                        <a href="#"><img class="img-fluid" src="~/images/post/google-add.jpg" alt="" /></a>
                                    </div>/.section
                                </div>*@<!--/.google-add-->

                            <div class="section">
                                <h1 class="section-title">More in Worlds</h1>
                                <div class="row">
                                    @foreach (var moreNews in Model.news.Take(6))
                                    {
                                        string moreNewscontentUrl = Url.GetContentUrl(moreNews.id.ToString());
                                        <div class="col-md-6 col-lg-4">
                                            <div class="post medium-post">
                                                <div class="entry-header">
                                                    <div class="entry-thumbnail">
                                                        @if (moreNews.fields != null)
                                                        {
                                                            <img class="img-fluid" src="@Url.Content(moreNews.fields.thumbnail)" alt="@moreNews.webTitle" />
                                                        }
                                                        else
                                                        {
                                                            <img class="img-fluid" src="" alt="" />
                                                        }
                                                    </div>
                                                </div>
                                                <div class="post-content">
                                                    <div class="entry-meta">
                                                        <ul class="list-inline">
                                                            <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> @moreNews.webPublicationDate </a></li>
                                                        </ul>
                                                    </div>
                                                    <h2 class="entry-title">
                                                        <a asp-controller="News"
                                                           asp-action="Details"
                                                           asp-route-id="@moreNewscontentUrl">@moreNews.webTitle</a>
                                                    </h2>
                                                </div>
                                            </div><!--/post-->
                                        </div>
                                    }
                                </div>
                            </div><!--/.section -->
                        </div>
                    </div>
                </div><!--/.col-sm-9 -->

                <div class="col-md-4 col-lg-3 tr-sticky">
                    <div id="sitebar" class="theiaStickySidebar">
                        @*<div class="widget">
                                <div class="add featured-add">
                                    <a href="#"><img class="img-fluid" src="~/images/post/add/add1.jpg" alt="" /></a>
                                </div>
                            </div>*@<!--/#widget-->
                        @*<div class="widget follow-us">
                                <h1 class="section-title title">Follow Us</h1>
                                <ul class="list-inline social-icons">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                </ul>
                            </div>*@<!--/#widget-->

                        <div class="widget">
                            <h1 class="section-title title">This is Rising!</h1>
                            <ul class="post-list">
                                <li>
                                    @foreach (var risingWorld in Model.worldnews.Take(1))
                                    {
                                        string risingWorldUrl = Url.GetContentUrl(risingWorld.id.ToString());
                                        <div class="post small-post">
                                            <div class="entry-header">
                                                @if (risingWorld.fields != null)
                                                {
                                                    <img class="img-fluid" src="@Url.Content(risingWorld.fields.thumbnail)" alt="@risingWorld.webTitle" />
                                                }
                                            </div>
                                            <div class="post-content">
                                                <div class="video-catagory"><a href="#">World</a></div>
                                                <h2 class="entry-title">
                                                    <a asp-controller="News"
                                                       asp-action="Details"
                                                       asp-route-id="@risingWorldUrl">@risingWorld.webTitle</a>
                                                </h2>
                                            </div>
                                        </div><!--/post-->
                                    }
                                </li>
                                <li>
                                    @foreach (var risingBusiness in Model.businessnews.Take(1))
                                    {
                                        string risingBusinessUrl = Url.GetContentUrl(risingBusiness.id.ToString());
                                        <div class="post small-post">
                                            <div class="entry-header">
                                                @if (risingBusiness.fields != null)
                                                {
                                                    <img class="img-fluid" src="@Url.Content(risingBusiness.fields.thumbnail)" alt="@risingBusiness.webTitle" />
                                                }
                                            </div>
                                            <div class="post-content">
                                                <div class="video-catagory"><a href="#">Business</a></div>
                                                <h2 class="entry-title">
                                                    <a asp-controller="News"
                                                       asp-action="Details"
                                                       asp-route-id="@risingBusinessUrl">@risingBusiness.webTitle</a>
                                                </h2>
                                            </div>
                                        </div><!--/post-->
                                    }
                                </li>
                                <li>
                                    @foreach (var risingSports in Model.sportsnews.Take(1))
                                    {
                                        string risingSportsUrl = Url.GetContentUrl(risingSports.id.ToString());
                                        <div class="post small-post">
                                            <div class="entry-header">
                                                @if (risingSports.fields != null)
                                                {
                                                    <img class="img-fluid" src="@Url.Content(risingSports.fields.thumbnail)" alt="@risingSports.webTitle" />
                                                }
                                            </div>
                                            <div class="post-content">
                                                <div class="video-catagory"><a href="#">Sports</a></div>
                                                <h2 class="entry-title">
                                                    <a asp-controller="News"
                                                       asp-action="Details"
                                                       asp-route-id="@risingSportsUrl">@risingSports.webTitle</a>
                                                </h2>
                                            </div>
                                        </div><!--/post-->
                                    }<!--/post-->
                                </li>
                                <li>
                                    @foreach (var risingTechnology in Model.technologynews.Take(1))
                                    {
                                        string risingTechnologyUrl = Url.GetContentUrl(risingTechnology.id.ToString());
                                        <div class="post small-post">
                                            <div class="entry-header">
                                                @if (risingTechnology.fields != null)
                                                {
                                                    <img class="img-fluid" src="@Url.Content(risingTechnology.fields.thumbnail)" alt="@risingTechnology.webTitle" />
                                                }
                                            </div>
                                            <div class="post-content">
                                                <div class="video-catagory"><a href="#">Technology</a></div>
                                                <h2 class="entry-title">
                                                    <a asp-controller="News"
                                                       asp-action="Details"
                                                       asp-route-id="@risingTechnologyUrl">@risingTechnology.webTitle</a>
                                                </h2>
                                            </div>
                                        </div><!--/post-->
                                    }<!--/post-->
                                </li>
                                <li>
                                    @foreach (var risingPolitics in Model.politicsnews.Take(1))
                                    {
                                        string risingPoliticsUrl = Url.GetContentUrl(risingPolitics.id.ToString());
                                        <div class="post small-post">
                                            <div class="entry-header">
                                                 @if (risingPolitics.fields != null)
                                                {
                                                    <img class="img-fluid" src="@Url.Content(risingPolitics.fields.thumbnail)" alt="@risingPolitics.webTitle" />
                                                }
                                            </div>
                                            <div class="post-content">
                                                <div class="video-catagory"><a href="#">Technology</a></div>
                                                <h2 class="entry-title">
                                                    <a asp-controller="News"
                                                       asp-action="Details"
                                                       asp-route-id="@risingPoliticsUrl">@risingPolitics.webTitle</a>
                                                </h2>
                                            </div>
                                        </div><!--/post-->
                                    }<!--/post-->
                                </li>
                                <li>
                                    @foreach (var risingHealth in Model.healthnews.Take(1))
                                    {
                                        string risingHealthUrl = Url.GetContentUrl(risingHealth.id.ToString());
                                        <div class="post small-post">
                                            <div class="entry-header">
                                                @if (risingHealth.fields != null)
                                                {
                                                    <img class="img-fluid" src="@Url.Content(risingHealth.fields.thumbnail)" alt="@risingHealth.webTitle" />
                                                }
                                            </div>
                                            <div class="post-content">
                                                <div class="video-catagory"><a href="#">Health</a></div>
                                                <h2 class="entry-title">
                                                    <a asp-controller="News"
                                                       asp-action="Details"
                                                       asp-route-id="@risingHealthUrl">@risingHealth.webTitle</a>
                                                </h2>
                                            </div>
                                        </div><!--/post-->
                                    }<!--/post-->
                                </li>
                                <li>
                                    @foreach (var risingLifestyle in Model.lifestylenews.Take(1))
                                    {
                                        string risingLifestyleUrl = Url.GetContentUrl(risingLifestyle.id.ToString());
                                        <div class="post small-post">
                                            <div class="entry-header">
                                                @if (risingLifestyle.fields != null)
                                                {
                                                    <img class="img-fluid" src="@Url.Content(risingLifestyle.fields.thumbnail)" alt="@risingLifestyle.webTitle" />
                                                }
                                            </div>
                                            <div class="post-content">
                                                <div class="video-catagory"><a href="#">Lifestyle</a></div>
                                                <h2 class="entry-title">
                                                    <a asp-controller="News"
                                                       asp-action="Details"
                                                       asp-route-id="@risingLifestyleUrl">@risingLifestyle.webTitle</a>
                                                </h2>
                                            </div>
                                        </div><!--/post-->
                                    }<!--/post-->
                                </li>
                                <li>
                                    @foreach (var risingEntertainment in Model.entertainmentnews.Take(1))
                                    {
                                        string risingEntertainmentUrl = Url.GetContentUrl(risingEntertainment.id.ToString());
                                        <div class="post small-post">
                                            <div class="entry-header">
                                                <div class="entry-thumbnail">
                                                    @if (risingEntertainment.fields != null)
                                                    {
                                                        <img class="img-fluid" src="@Url.Content(risingEntertainment.fields.thumbnail)" alt="@risingEntertainment.webTitle" />
                                                    }

                                                </div>
                                            </div>
                                            <div class="post-content">
                                                <div class="video-catagory"><a href="#">Entertainment</a></div>
                                                <h2 class="entry-title">
                                                    <a asp-controller="News"
                                                       asp-action="Details"
                                                       asp-route-id="@risingEntertainmentUrl">@risingEntertainment.webTitle</a>
                                                </h2>
                                            </div>
                                        </div><!--/post-->
                                    }<!--/post-->
                                </li>
                                <li>
                                    @foreach (var risingBusiness in Model.businessnews.Take(1))
                                    {
                                        string risingBusinessUrl = Url.GetContentUrl(risingBusiness.id.ToString());
                                        <div class="post small-post">
                                            <div class="entry-header">
                                                @if (risingBusiness.fields != null)
                                                {
                                                    <img class="img-fluid" src="@Url.Content(risingBusiness.fields.thumbnail)" alt="@risingBusiness.webTitle" />
                                                }
                                            </div>
                                            <div class="post-content">
                                                <div class="video-catagory"><a href="#">Business</a></div>
                                                <h2 class="entry-title">
                                                    <a asp-controller="News"
                                                       asp-action="Details"
                                                       asp-route-id="@risingBusinessUrl">@risingBusiness.webTitle</a>
                                                </h2>
                                            </div>
                                        </div><!--/post-->
                                    }<!--/post-->
                                </li>
                            </ul>
                        </div><!--/#widget-->
                    </div><!--/#sitebar-->
                </div>
            </div>
        </div><!--/.section-->
    </div><!--/.container-->
</div><!--/#main-wrapper-->