﻿@model NewsFeed.Models.NewsResult

@using X.PagedList.Mvc.Core; @*import this so we get our HTML Helper*@
@using X.PagedList; @*import this so we can cast our list to IPagedList (only necessary because ViewBag is dynamic)*@
@using NewsFeed.Models;
@using X.PagedList.Mvc.Core.Fluent;
@using NewsFeed.UrlHelpers;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Boxed.AspNetCore;

<div id="main-wrapper" class="page">
    <partial name="~/Views/Partial/_Header.cshtml" /><!--/#navigation-->

    <div class="container">
        <div class="page-breadcrumbs">
            <h1 class="section-title">@Context.Request.Query["category"]</h1>
            <div class="world-nav cat-menu">
            </div>
        </div>
        <div class="section">
            <div class="row">
                <div class="col-md-8 col-lg-9">
                    <div id="site-content" class="site-content">
                        <div class="row">
                            <div class="col-md-6 col-lg-8">
                                <div class="left-content">
                                    <div class="world-news">
                                        @foreach (var sportsNews in Model.news.Take(1))
                                        {
                                            string sportsNewscontentUrl = Url.GetContentUrl(sportsNews.id.ToString());
                                            <div class="post">
                                                <div class="entry-header">
                                                    <div class="entry-thumbnail">
                                                        <img class="img-fluid" src="@Url.Content(sportsNews.fields.thumbnail)" alt="@sportsNews.webTitle" />
                                                    </div>
                                                </div>
                                                <div class="post-content">
                                                    <div class="entry-meta">
                                                        <ul class="list-inline">
                                                            <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> @sportsNews.webPublicationDate </a></li>
                                                        </ul>
                                                    </div>
                                                    <h2 class="entry-title">
                                                        <a asp-controller="News"
                                                           asp-action="Details"
                                                           asp-route-id="@sportsNewscontentUrl">@sportsNews.webTitle</a>
                                                    </h2>
                                                    <div class="entry-content">
                                                        @Html.Raw(sportsNews.fields.standfirst)
                                                    </div>
                                                </div>
                                                <div class="list-post">
                                                    <ul>
                                                        @foreach (var sportnewsItem3 in Model.news.Skip(1).Take(3))

                                                        {
                                                            string sportnewsItem3Url = Url.GetContentUrl(sportnewsItem3.id.ToString());
                                                            <li>
                                                                <a asp-controller="News"
                                                                   asp-action="Details"
                                                                   asp-route-id="@sportnewsItem3Url">@sportnewsItem3.webTitle <i class="fa fa-angle-right"></i></a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div><!--/list-post-->
                                            </div><!--/post-->
                                        }
                                    </div><!--/.section-->
                                </div><!--/.left-content-->
                            </div>

                            <div class="col-md-6 col-lg-4">
                                <div class="middle-content">
                                    <div class="section video-section">
                                        <h1 class="section-title title">Watch Video</h1>

                                        @foreach (var videoMedium in Model.videonews.Take(1))
                                        {
                                            string videoMediumcontentUrl = Url.GetContentUrl(videoMedium.id.ToString());
                                            string videoURL = Url.GetSecureUrl(videoMedium.fields.main.ToString());
                                            <div class="post video-post medium-post">
                                                <div class="entry-header">
                                                    <div class="entry-thumbnail embed-responsive embed-responsive-16by9">
                                                        @*<iframe class="embed-responsive-item" src="@videoMedium.webUrl" allowfullscreen></iframe>*@
                                                        @Html.Raw(videoURL)
                                                    </div>
                                                </div>
                                                <div class="post-content">
                                                    <div class="video-catagory"><a href="#">@videoMedium.sectionName</a></div>
                                                    <h2 class="entry-title">
                                                        <a href="#">@videoMedium.webTitle</a>
                                                    </h2>
                                                </div>
                                            </div><!--/post-->
                                        }

                                        <div class="video-post-list">
                                            <ul>
                                                @foreach (var videoMedium in Model.videonews.Skip(1).Take(3))
                                                {
                                                    string videoMediumcontentUrl = Url.GetContentUrl(videoMedium.id.ToString());
                                                    string videoURL = Url.GetSecureUrl(videoMedium.fields.main.ToString());
                                                    <li>
                                                        <div class="post video-post small-post">
                                                            <div class="entry-header">
                                                                <div class="entry-thumbnail embed-responsive embed-responsive-16by9">

                                                                    @Html.Raw(videoURL)
                                                                </div>
                                                            </div>
                                                            <div class="post-content">
                                                                <div class="video-catagory"><a href="#">@videoMedium.sectionName</a></div>
                                                                <h2 class="entry-title">
                                                                    <a href="#">@videoMedium.webTitle</a>
                                                                </h2>
                                                            </div>
                                                        </div><!--/post-->
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div><!-- /.video-section -->
                                </div><!--/.middle-content-->
                            </div>
                        </div>
                    </div><!--/#site-content-->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="section">
                                <div class="row">
                                    @foreach (var sportsMedium in Model.news.Skip(4).Take(6))
                                    {
                                        string sportsMediumcontentUrl = Url.GetContentUrl(sportsMedium.id.ToString());
                                        <div class="col-md-6 col-lg-4">
                                            <div class="post medium-post">
                                                <div class="entry-header">
                                                    <div class="entry-thumbnail">
                                                        <img class="img-fluid" src="@Url.Content(sportsMedium.fields.thumbnail)" alt="" />
                                                    </div>
                                                </div>
                                                <div class="post-content">
                                                    <div class="entry-meta">
                                                        <ul class="list-inline">
                                                            <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> @sportsMedium.webPublicationDate </a></li>
                                                        </ul>
                                                    </div>
                                                    <h2 class="entry-title">
                                                        <a asp-controller="News"
                                                           asp-action="Details"
                                                           asp-route-id="@sportsMediumcontentUrl">@sportsMedium.webTitle</a>
                                                    </h2>
                                                </div>
                                            </div><!--/post-->
                                        </div>

                                    }
                                </div>
                            </div><!--/.section -->
                            @*<div class="google-add">
                                    <div class="add inner-add text-center">
                                        <a href="#"><img class="img-fluid" src="images/post/google-add.jpg" alt="" /></a>
                                    </div><!--/.section-->
                                </div>*@<!--/.google-add-->

                            <div class="section">
                                <div class="row">
                                    @foreach (var sportsMedium in Model.news.Skip(10).Take(6))
                                    {
                                        string sportsMediumcontentUrl = Url.GetContentUrl(sportsMedium.id.ToString());
                                        <div class="col-md-6 col-lg-4">
                                            <div class="post medium-post">
                                                <div class="entry-header">
                                                    <div class="entry-thumbnail">
                                                        <img class="img-fluid" src="@Url.Content(sportsMedium.fields.thumbnail)" alt="" />
                                                    </div>
                                                </div>
                                                <div class="post-content">
                                                    <div class="entry-meta">
                                                        <ul class="list-inline">
                                                            <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> @sportsMedium.webPublicationDate </a></li>
                                                        </ul>
                                                    </div>
                                                    <h2 class="entry-title">
                                                        <a asp-controller="News"
                                                           asp-action="Details"
                                                           asp-route-id="@sportsMediumcontentUrl">@sportsMedium.webTitle</a>
                                                    </h2>
                                                </div>
                                            </div><!--/post-->
                                        </div>

                                    }
                                </div>
                            </div><!--/.section -->
                        </div>
                    </div>
                    <div class="pagination-wrapper">
                        @*<ul class="pagination">
                                <li><a href="#" aria-label="Previous"><span aria-hidden="true"><i class="fa fa-long-arrow-left"></i> Previous Page</span></a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li class="active"><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">6</a></li>
                                <li><a href="#">7</a></li>
                                <li><a href="#">8</a></li>
                                <li><a href="#">9</a></li>
                                <li><a href="#">10</a></li>
                                <li><a href="#" aria-label="Next"><span aria-hidden="true">Next Page <i class="fa fa-long-arrow-right"></i></span></a></li>
                            </ul>*@
                        <ul class="pagination">
                            @if (Model.Pager.CurrentPage > 1)
                            {
                                <li>
                                    <a asp-controller="News"
                                       asp-action="List"
                                       asp-route-category="@Context.Request.Query["category"]"
                                       asp-route-page="1">First</a>
                                </li>
                                <li class="page-item">
                                    <a aria-label="Previous"
                                       asp-controller="News"
                                       asp-action="List"
                                       asp-route-category="sport"
                                       asp-route-page="@(Model.Pager.CurrentPage - 1)"><span aria-hidden="true"><i class="fa fa-long-arrow-left"></i> Previous Page</span></a>
                                </li>

                            }

                            @foreach (var p in Model.Pager.Pages)
                            {
                                <li class="active@(p == Model.Pager.CurrentPage)">
                                    <a asp-controller="News"
                                       asp-action="List"
                                       asp-route-category="@Context.Request.Query["category"]"
                                       asp-route-page="@p">@p</a>
                                </li>
                            }

                            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                            {
                                <li>
                                    <a aria-label="Next"
                                       asp-controller="News"
                                       asp-action="List"
                                       asp-route-category="@Context.Request.Query["category"]"
                                       asp-route-page="@(Model.Pager.CurrentPage + 1)"><span aria-hidden="true">Next Page <i class="fa fa-long-arrow-right"></i></span></a>
                                </li>
                                <li class="page-item">
                                    <a aria-label="Next"
                                       asp-controller="News"
                                       asp-action="List"
                                       asp-route-category="@Context.Request.Query["category"]"
                                       asp-route-page="@(Model.Pager.TotalPages)"><span aria-hidden="true">Last Page <i class="fa fa-long-arrow-right"></i></span></a>
                                </li>
                            }
                        </ul>
                    </div>
                </div><!--/.col-sm-9 -->

                <div class="col-md-4 col-lg-3 tr-sticky">
                    <div id="sitebar" class="theiaStickySidebar">
                        @*<div class="widget">
                                <div class="add featured-add">
                                    <a href="#"><img class="img-fluid" src="images/post/add/add1.jpg" alt="" /></a>
                                </div>
                            </div>*@<!--/#widget-->
                        @*<div class="widget follow-us">
                                <h1 class="section-title title">Follow Us</h1>
                                <ul class="list-inline social-icons">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                </ul>
                            </div>*@<!--/#widget-->

                        <div class="widget">
                            <h1 class="section-title title">This is Rising!</h1>
                            <ul class="post-list">
                                <li>
                                    @foreach (var risingWorld in Model.worldnews.Skip(8).Take(1))
                                    {
                                        string risingWorldUrl = Url.GetContentUrl(risingWorld.id.ToString());
                                        <div class="post small-post">
                                            <div class="entry-header">
                                                <div class="entry-thumbnail">
                                                    @if (risingWorld.fields != null)
                                                    {
                                                        <img class="img-fluid" src="@Url.Content(risingWorld.fields.thumbnail)" alt="@risingWorld.webTitle" />
                                                    }
                                                </div>
                                            </div>
                                            <div class="post-content">
                                                <div class="video-catagory"><a href="#">World</a></div>
                                                <h2 class="entry-title">
                                                    <a asp-controller="News"
                                                       asp-action="Details"
                                                       asp-route-id="@risingWorldUrl">@risingWorld.webTitle</a>
                                                </h2>
                                            </div>
                                        </div><!--/post-->
                                    }
                                </li>
                                <li>
                                    @foreach (var risingBusiness in Model.businessnews.Skip(8).Take(1))
                                    {
                                        string risingBusinessUrl = Url.GetContentUrl(risingBusiness.id.ToString());
                                        <div class="post small-post">
                                            <div class="entry-header">
                                                <div class="entry-thumbnail">
                                                    @if (risingBusiness.fields != null)
                                                    {
                                                        <img class="img-fluid" src="@Url.Content(risingBusiness.fields.thumbnail)" alt="@risingBusiness.webTitle" />
                                                    }
                                                </div>
                                            </div>
                                            <div class="post-content">
                                                <div class="video-catagory"><a href="#">Business</a></div>
                                                <h2 class="entry-title">
                                                    <a asp-controller="News"
                                                       asp-action="Details"
                                                       asp-route-id="@risingBusinessUrl">@risingBusiness.webTitle</a>
                                                </h2>
                                            </div>
                                        </div><!--/post-->
                                    }
                                </li>
                                <li>
                                    @foreach (var risingSports in Model.sportsnews.Skip(8).Take(1))
                                    {
                                        string risingSportsUrl = Url.GetContentUrl(risingSports.id.ToString());
                                        <div class="post small-post">
                                            <div class="entry-header">
                                                <div class="entry-thumbnail">
                                                    @if (risingSports.fields != null)
                                                    {
                                                        <img class="img-fluid" src="@Url.Content(risingSports.fields.thumbnail)" alt="@risingSports.webTitle" />
                                                    }
                                                </div>
                                            </div>
                                            <div class="post-content">
                                                <div class="video-catagory"><a href="#">Sports</a></div>
                                                <h2 class="entry-title">
                                                    <a asp-controller="News"
                                                       asp-action="Details"
                                                       asp-route-id="@risingSportsUrl">@risingSports.webTitle</a>
                                                </h2>
                                            </div>
                                        </div><!--/post-->
                                    }<!--/post-->
                                </li>
                                <li>
                                    @foreach (var risingTechnology in Model.technologynews.Skip(8).Take(1))
                                    {
                                        string risingTechnologyUrl = Url.GetContentUrl(risingTechnology.id.ToString());
                                        <div class="post small-post">
                                            <div class="entry-header">
                                                <div class="entry-thumbnail">
                                                    @if (risingTechnology.fields != null)
                                                    {
                                                        <img class="img-fluid" src="@Url.Content(risingTechnology.fields.thumbnail)" alt="@risingTechnology.webTitle" />
                                                    }
                                                </div>
                                            </div>
                                            <div class="post-content">
                                                <div class="video-catagory"><a href="#">Technology</a></div>
                                                <h2 class="entry-title">
                                                    <a asp-controller="News"
                                                       asp-action="Details"
                                                       asp-route-id="@risingTechnologyUrl">@risingTechnology.webTitle</a>
                                                </h2>
                                            </div>
                                        </div><!--/post-->
                                    }<!--/post-->
                                </li>
                                <li>
                                    @foreach (var risingPolitics in Model.politicsnews.Skip(8).Take(1))
                                    {
                                        string risingPoliticsUrl = Url.GetContentUrl(risingPolitics.id.ToString());
                                        <div class="post small-post">
                                            <div class="entry-header">
                                                <div class="entry-thumbnail">
                                                    @if (risingPolitics.fields != null)
                                                    {
                                                        <img class="img-fluid" src="@Url.Content(risingPolitics.fields.thumbnail)" alt="@risingPolitics.webTitle" />
                                                    }
                                                </div>
                                            </div>
                                            <div class="post-content">
                                                <div class="video-catagory"><a href="#">Technology</a></div>
                                                <h2 class="entry-title">
                                                    <a asp-controller="News"
                                                       asp-action="Details"
                                                       asp-route-id="@risingPoliticsUrl">@risingPolitics.webTitle</a>
                                                </h2>
                                            </div>
                                        </div><!--/post-->
                                    }<!--/post-->
                                </li>
                                <li>
                                    @foreach (var risingHealth in Model.healthnews.Skip(8).Take(1))
                                    {
                                        string risingHealthUrl = Url.GetContentUrl(risingHealth.id.ToString());
                                        <div class="post small-post">
                                            <div class="entry-header">
                                                <div class="entry-thumbnail">
                                                    @if (risingHealth.fields != null)
                                                    {
                                                        <img class="img-fluid" src="@Url.Content(risingHealth.fields.thumbnail)" alt="@risingHealth.webTitle" />
                                                    }
                                                </div>
                                            </div>
                                            <div class="post-content">
                                                <div class="video-catagory"><a href="#">Health</a></div>
                                                <h2 class="entry-title">
                                                    <a asp-controller="News"
                                                       asp-action="Details"
                                                       asp-route-id="@risingHealthUrl">@risingHealth.webTitle</a>
                                                </h2>
                                            </div>
                                        </div><!--/post-->
                                    }<!--/post-->
                                </li>
                                <li>
                                    @foreach (var risingLifestyle in Model.lifestylenews.Skip(8).Take(1))
                                    {
                                        string risingLifestyleUrl = Url.GetContentUrl(risingLifestyle.id.ToString());
                                        <div class="post small-post">
                                            <div class="entry-header">
                                                <div class="entry-thumbnail">
                                                    @if (risingLifestyle.fields != null)
                                                    {
                                                        <img class="img-fluid" src="@Url.Content(risingLifestyle.fields.thumbnail)" alt="@risingLifestyle.webTitle" />
                                                    }
                                                </div>
                                            </div>
                                            <div class="post-content">
                                                <div class="video-catagory"><a href="#">Lifestyle</a></div>
                                                <h2 class="entry-title">
                                                    <a asp-controller="News"
                                                       asp-action="Details"
                                                       asp-route-id="@risingLifestyleUrl">@risingLifestyle.webTitle</a>
                                                </h2>
                                            </div>
                                        </div><!--/post-->
                                    }<!--/post-->
                                </li>
                                <li>
                                    @foreach (var risingEntertainment in Model.entertainmentnews.Skip(8).Take(1))
                                    {
                                        string risingEntertainmentUrl = Url.GetContentUrl(risingEntertainment.id.ToString());
                                        <div class="post small-post">
                                            <div class="entry-header">
                                                <div class="entry-thumbnail">
                                                    @if (risingEntertainment.fields != null)
                                                    {
                                                        <img class="img-fluid" src="@Url.Content(risingEntertainment.fields.thumbnail)" alt="@risingEntertainment.webTitle" />
                                                    }
                                                </div>
                                            </div>
                                            <div class="post-content">
                                                <div class="video-catagory"><a href="#">Entertainment</a></div>
                                                <h2 class="entry-title">
                                                    <a asp-controller="News"
                                                       asp-action="Details"
                                                       asp-route-id="@risingEntertainmentUrl">@risingEntertainment.webTitle</a>
                                                </h2>
                                            </div>
                                        </div><!--/post-->
                                    }<!--/post-->
                                </li>
                                <li>
                                    @foreach (var risingBusiness in Model.businessnews.Skip(8).Take(1))
                                    {
                                        string risingBusinessUrl = Url.GetContentUrl(risingBusiness.id.ToString());
                                        <div class="post small-post">
                                            <div class="entry-header">
                                                <div class="entry-thumbnail">
                                                    @if (risingBusiness.fields != null)
                                                    {
                                                        <img class="img-fluid" src="@Url.Content(risingBusiness.fields.thumbnail)" alt="@risingBusiness.webTitle" />
                                                    }
                                                </div>
                                            </div>
                                            <div class="post-content">
                                                <div class="video-catagory"><a href="#">Business</a></div>
                                                <h2 class="entry-title">
                                                    <a asp-controller="News"
                                                       asp-action="Details"
                                                       asp-route-id="@risingBusinessUrl">@risingBusiness.webTitle</a>
                                                </h2>
                                            </div>
                                        </div><!--/post-->
                                    }<!--/post-->
                                </li>
                            </ul>
                        </div><!--/#widget-->
                    </div><!--/#sitebar-->
                </div>
            </div>
        </div><!--/.section-->
    </div><!--/.container-->
</div><!--/#main-wrapper-->