﻿<!DOCTYPE html>
<html lang="en">
<head>

    
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />*@

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--title-->
    <title>@ViewData["Title"] NewsFeed</title>

    <!--CSS-->
    @*<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/css/bootstrap.min.css" rel="stylesheet">*@
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/magnific-popup.css" rel="stylesheet">
    <link href="~/css/owl.carousel.css" rel="stylesheet">
    <link href="~/css/subscribe-better.css" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet">
    <link id="~/preset" rel="stylesheet" type="text/css" href="~/css/presets/preset1.css">
    <link href="~/css/responsive.css" rel="stylesheet">

    <!--Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Signika+Negative:400,300,600,700' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="~/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/images/ico/apple-touch-icon-57-precomposed.png">
</head>
<body>
    @RenderBody()
    @*<div class="container">
            <main role="main" class="pb-3">
            </main>
        </div>*@

    <footer id="footer">
        <div class="footer-top">
            <div class="container text-center">
                <div class="logo-icon"><img class="img-fluid" src="~/images/presets/preset1/logo-icon.png" alt="Image" /></div>
            </div>
        </div>
        <div class="footer-menu">
        </div>
        <div class="bottom-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="widget">
                            <h2>Category</h2>
                            <ul>
                                <li>
                                    <a asp-controller="Home"
                                       asp-action="Index"
                                       data-toggle="dropdown">Home</a>
                                </li>
                                <li>
                                    <a asp-controller="News"
                                       asp-action="List"
                                       asp-route-category="business"
                                       asp-route-page="1">Business</a>
                                </li>
                                <li>
                                    <a asp-controller="News"
                                       asp-action="List"
                                       asp-route-category="politics"
                                       asp-route-page="1">Politics</a>
                                </li>

                                <li>
                                    <a asp-controller="News"
                                       asp-action="List"
                                       asp-route-category="world"
                                       asp-route-page="1">World</a>
                                </li>

                                <li>
                                    <a asp-controller="News"
                                       asp-action="List"
                                       asp-route-category="sport"
                                       asp-route-page="1">Sports</a>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <a asp-controller="News"
                                       asp-action="List"
                                       asp-route-category="lifeandstyle_health-and-wellbeing"
                                       asp-route-page="1">Health</a>
                                </li>
                                <li>
                                    <a asp-controller="News"
                                       asp-action="List"
                                       asp-route-category="culture"
                                       asp-route-page="1">Entertainment</a>
                                </li>
                                <li>
                                    <a asp-controller="News"
                                       asp-action="List"
                                       asp-route-category="lifeandstyle"
                                       asp-route-page="1">Lifestyle</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div>
        <div class="footer-bottom">
            <div class="container text-center">
                <p><a href="#">NewsFeed </a>&copy; 2020 </p>
            </div>
        </div>
    </footer>
    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - NewsFeed - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/jquery.sticky-kit.min.js"></script>
    <script src="~/js/jquery.easy-ticker.min.js"></script>
    <script src="~/js/jquery.subscribe-better.min.js"></script>
    <script src="~/js/theia-sticky-sidebar.min.js"></script>
    <script src="~/js/main.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>